* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Fira Sans', sans-serif;
}
body {
    margin: 0;
}
:root {
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --mota-color:rgb(148, 146, 146);
    --note-color:#4F5554;
    --blu-color:#304CFD;
    --primery:rgb(228,241,242);
    --color-img:142.17deg,#3086FF 6.66%,#304CFD 91.48%;
   
}
.active{
    background-image: linear-gradient(142.17deg,#4f93f1 6.66%,#dd44f8 91.48%) !important ;
    box-shadow: inset -0.25rem -0.25rem 0.3125rem rgb(0 0 0 / 10%), inset 0.25rem 0.25rem 0.3125rem rgb(255 255 255 / 23%) !important;
}
.activeSpeakers{
    display: flex !important;
}
.activeInfo{
    display: block !important;
}